.videoViewer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.videoViewer iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    color: #4059AD;
    margin-left: 50px;
}

h2 {
    display: inline-block;
}

.quizz_start {
    float: right;
    margin: 25px;
    background-color: #253C78;
    color: white;
    padding: 3px;
    border-radius: 2px;
}

#okButton {
    background-color: #2A9D8F;
}

#certPic {
    width: 250px;
}

#writtenContent {
    border-style: groove;
    border-width: 3px;
    border-color: #4059AD;
    margin: 10px 50px;
    padding: 20px;
}