<section>
    <h2> {{ courseItem.name }} </h2>
    <button class="quizz_start" (click)="turnQuizzon()"> Start Quizz </button>
    <div class="videoViewer">
        <iframe width="100%" height="100%" [src]="currentVideoUrl | safe"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div #quizz>
        <quizz-component (submitScore)="submitClicked($event)" class="quizz" #quizzComponent *ngIf="isOn"></quizz-component>
    </div>
</section>