.videoViewer {
    display: flex;
}

.videoViewer iframe {
    height: 800px;
    width: auto;
    justify-content: center;
}

h2 {
    display: inline-block;
    margin-left: 20px;
}

.quizz_start {
    float: right;
    margin: 25px;
}

