.videoViewer {
    overflow: hidden;
    // calculated from aspect ratio - 16:9 = 0.5625
    padding-top: 56.25%;
    position: relative;
    display: block;
    margin-left: 50px;
    margin-bottom: 20px;
}

.videoViewer iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1400px;
    max-height: 788px;
}

h2 {
    display: inline-block;
}

.quizz_start {
    float: right;
    margin: 25px;
}

