<section>
    <h2> {{ courseItem.name }} </h2>
    <button class="quizz_start" (click)="turnQuizzon()"> Start Quizz </button>
    <div class="videoViewer">
        <iframe width="100%" height="100%" [src]="currentVideoUrl | safe"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div #quizz>
        <quizz-component (submitScore)="submitClicked($event)" class="quizz" #quizzComponent *ngIf="isOn"></quizz-component>
    </div>
    <cert-pop class="my-prompt" [isOpen]="popUpOpen">
        <div class="box">
          <header>
            <span class="title">Your home office score</span>
          </header>
          <main>
            Congrats, your score is : palceholder
          </main>
          <footer>
            <button (click)="okPressed()">&lt;&nbsp;OK&nbsp;&gt;</button>
          </footer>
        </div>
      </cert-pop>
</section>