<h2> Take the quizz to master this section </h2>
<p class="counter"> Answers: 1/10 </p>

<div> {{ currentQuestion }} </div>

<table *ngIf="quizzType === 'multiple'" style="width:100%">
    <tr>
      <td *ngFor="let answer of answers"> <button>{{ answer }}</button> </td>
    </tr>
</table>

<mat-slider [max]=10 
            [min]=1 
            [step]=1
            [thumbLabel]="true"
             *ngIf="quizzType === 'slider'" #slider></mat-slider>

<button (click)="submitClicked()" type="submit"> Submit </button>