:host {
    border: 2px solid dimgray;
    display: block;
    background-color: #4059AD;
    padding: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 20px;
}

.counter {
    float: right;
    margin-right: 20px 
}

h2 {
    background-color: #253C78;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

#question {
    margin-left: 5px;
}

#min {
    margin-left: 50px;
}

#submitButton {
    background-color: #253C78;
    color: white;
    padding: 3px;
    margin-left: 5px;
}

// slider stuff
.mat-slider-horizontal {
    width: 50%;
    margin-top: 20px;
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
    transform: scale(0) !important;
    background-color: #253C78;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}