<h2> Fülle das Quizz aus, um zum nächsten Abschnitt zu kommen </h2>
<p class="counter" *ngIf="quizzType === 'multiple'"> Current score: {{ score }} </p>

<div id="question"> {{ currentQuestion }} </div>

<!-- multiple choice question -->
<div>
  <form [formGroup]="formMultiple"> 
    <table *ngIf="quizzType === 'multiple'" style="width:100%">
        <tr>
          <td *ngFor="let answer of answers"> <button formControlName="a">{{ answer }}</button> </td>
        </tr>
    </table>
  </form>
</div>

<!-- question with slider -->
<div>
  <form *ngIf="quizzType === 'slider'" [formGroup]="formSlide">
    <span id="min">1</span>
    <mat-slider
                #slider
                formControlName="sliderAnswer"
                [max]=10 
                [min]=1 
                [step]=1
                [thumbLabel]="true"
                [value] = "sliderValue"></mat-slider>
    <span id="max">10</span>
    <button id="submitButton" (click)="submitSlideClicked(formSlide.value)" type="submit"> Abschicken </button>
  </form>
</div>

