ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #E9C46A;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #E9C46A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #264653;
}

.active {
    background-color: #2A9D8F;
}