ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #686868;
}

li {
    float: left;
    border-right: 1px solid #5183FC;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4059AD;
}

.active {
    background-color: #5183FC;
}