<header>
    <h2> Subscribe to the newsletter to newer miss an update </h2>
</header>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)">
    <ul>
      <li>
        <label for="gender">Gender</label>
        <select name="gender" id="gender" formControlName="gender">
          <option [ngValue]="null"> --- Please select --- </option>
          <option *ngFor="let gender of lookupLists.genders"> {{ gender }} </option>
        </select>
      </li>
      <li>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" formControlName="name">
        <div *ngIf="form.get('name').hasError('pattern')" class="error">
            Name has invalid character. Please use alphanumeric characters.
        </div>
      </li>
      <li>
        <label for="email">Email</label>
        <input name="email" id="email" formControlName="email">
      </li>
      <li>
        <label for="year">Year</label>
        <input type="text" name="year" id="year" maxlength="4" formControlName="year">
      </li>
    </ul>
    <button type="submit" [disabled]="!form.valid">Save</button>
  </form>